parameters:
	ignoreErrors:
		-
			message: '#^Function _load_current_readings\(\) should return list\<array\<string, mixed\>\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: php/includes/description_detail.php

		-
			message: '#^Function _load_description_navigation\(\) should return array\{prev\: array\<string, mixed\>\|false, next\: array\<string, mixed\>\|false, position\: int\|string, total\: int\|string\} but returns array\{prev\: mixed, next\: mixed, position\: int\|string\|false\|null, total\: int\|string\|false\|null\}\.$#'
			identifier: return.type
			count: 1
			path: php/includes/description_detail.php

		-
			message: '#^Offset ''NWRFC''\|''USGS'' might not exist on array\{\}\|array\{USGS\?\: array\{label\: non\-falsy\-string, url\: non\-falsy\-string\}, NWRFC\?\: array\{label\: non\-falsy\-string, url\: non\-falsy\-string\}\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: php/includes/description_detail.php

		-
			message: '#^Function _load_gauge_associated\(\) should return array\{sources\: list\<array\<string, mixed\>\>, reaches\: list\<array\<string, mixed\>\>, reach_class_thresholds\: array\<int, list\<array\<string, mixed\>\>\>\} but returns array\{sources\: array, reaches\: array, reach_class_thresholds\: array\<int, non\-empty\-list\>\}\.$#'
			identifier: return.type
			count: 1
			path: php/includes/gauge_detail.php

		-
			message: '#^Function _load_gauge_navigation\(\) should return array\{prev\: array\<string, mixed\>\|false, next\: array\<string, mixed\>\|false, position\: int\|string, total\: int\|string\} but returns array\{prev\: mixed, next\: mixed, position\: int\|string\|false\|null, total\: int\|string\|false\|null\}\.$#'
			identifier: return.type
			count: 1
			path: php/includes/gauge_detail.php

		-
			message: '#^Function _load_gauge_readings\(\) should return list\<array\<string, mixed\>\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: php/includes/gauge_detail.php

		-
			message: '#^Parameter \#1 \$lookup of function rate_flow_to_gauge expects array\<int, array\{float, float\}\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: php/includes/gauge_plots.php

		-
			message: '#^Parameter \#1 \$lookup of function rate_gauge_to_flow expects array\<int, array\{float, float\}\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: php/includes/gauge_plots.php

		-
			message: '#^Parameter \#3 \$rating_lookup of function _gp_bands_for_axis expects array\<string, mixed\>\|null, array\<int, array\<int, float\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: php/includes/gauge_plots.php

		-
			message: '#^Function _search_gauges\(\) should return list\<array\<string, mixed\>\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: php/includes/gauge_search.php

		-
			message: '#^Cannot access offset 0 on list\<string\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: php/includes/reach_detail.php

		-
			message: '#^Cannot access offset 1 on list\<string\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: php/includes/reach_detail.php

		-
			message: '#^Function _load_reach_navigation\(\) should return array\{prev\: array\<string, mixed\>\|false, next\: array\<string, mixed\>\|false, position\: int\|string, total\: int\|string\} but returns array\{prev\: mixed, next\: mixed, position\: int\|string\|false\|null, total\: int\|string\|false\|null\}\.$#'
			identifier: return.type
			count: 1
			path: php/includes/reach_detail.php

		-
			message: '#^Function _load_reach_related\(\) should return array\{gauge\: array\<string, mixed\>\|null, states\: list\<string\>, classes\: list\<array\<string, mixed\>\>, flow_levels\: list\<array\<string, mixed\>\>, guidebooks\: list\<array\<string, mixed\>\>\} but returns array\{gauge\: mixed, states\: list, classes\: array, flow_levels\: list\<array\<string, mixed\>\>, guidebooks\: array\}\.$#'
			identifier: return.type
			count: 1
			path: php/includes/reach_detail.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: php/includes/reach_detail.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: php/includes/reach_detail.php

		-
			message: '#^Cannot access offset 0 on list\<string\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: php/includes/reach_search.php

		-
			message: '#^Cannot access offset 1 on list\<string\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: php/includes/reach_search.php

		-
			message: '#^Function _search_reaches_query\(\) should return list\<array\<string, mixed\>\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: php/includes/reach_search.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: php/includes/reach_search.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: php/includes/reach_search.php

		-
			message: '#^Possibly invalid array key type float\|int\|string\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: php/includes/reach_search.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function max expects non\-empty\-array, list\<float\|int\> given\.$#'
			identifier: argument.type
			count: 2
			path: php/includes/svg_plot.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function min expects non\-empty\-array, list\<float\|int\> given\.$#'
			identifier: argument.type
			count: 2
			path: php/includes/svg_plot.php

		-
			message: '#^Strict comparison using \!\=\= between float and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: php/includes/svg_plot.php
